<div class="background-box">

  <div class="header">
    <span class="title">Users List</span>
    <%= link_to "Logout", destroy_user_session_path, method: :delete, :class=> "logout" %>
    <%= link_to posts_path, :class=>"back_to_posts" do %>
      <i class="fas fa-home"></i> <span class="home_button">Home</span>
    <% end %>
    <%= link_to user_path(current_user) do %>
      <img class="me" src="<%= "/user_images/#{current_user.image_name}" %>">
    <% end %>
  </div>

  <div class="users_list">
    <% @users.each do |user| %>
      <div class="users-index-item">
        <%= link_to "users/#{user.id}", :class=>"link_to_user_info" do %>
          id: <%= user.id %>&nbsp;&nbsp;<%= user.name %>
        <% end %>
      </div>
    <% end %>
  </div>

</div>
