<div class="background-box">
  <div class="edit_users">
    <div class="header">
      <span class="title">Edit Profile</span>
      <%= link_to posts_path, :class=>"back_to_posts" do %>
        <i class="fas fa-home"></i> <span class="home_button">Home</span>
      <% end %>
    </div>

    <div class="container">
      <%= form_for(@user, :html => {:multipart => true}) do  |f| %>
        <p>Name</p>
        <%= f.text_field :name %>
        <p>Image</p>
        <%= f.file_field :image %>
        <p>Email</p>
        <%= f.email_field :email %>
        <%= f.submit "Save" %>
      <% end %>
    </div>

  </div>
</div>
