<div class="background-box">
  <div class="show_users">
    <div class="header">
      <div class="logo"><img src="<%= "/duck.png" %>"></div>
      <%= link_to posts_path, :class=>"back_to_posts" do %>
        <i class="fas fa-home"></i> <span class="home_button">Home</span>
      <% end %>
      <span class="show_following">
        Following</br>
        <% @user = User.find_by(id: params[:id])%>
        <%= @follows = Follow.where(user_id: @user.id).count %>
      </span>
      <span class="show_followers">
        Followers</br>
        <% @user = User.find_by(id: params[:id])%>
        <%= @followers = Follow.where(target_user_id: @user.id).count %>
      </span>
    </div>

    <div class="user">
      <div class="user_inner">
        <img src="<%= "/user_images/#{@user.image_name}" %>">
        <div class="user_name"><%= @user.name %></div>
        <% if @user == current_user %>
          <%= link_to "edit", edit_user_path(@user), :class=>"user_edit" %>
        <% end %>
      </div>
    </div>

    <% @posts.each do |post| %>
      <div class="posts-index-item">
        <div class="post-left">
          <% @image = User.select("image_name").find_by(id: post.user_id) %>
          <img src="<%= "/user_images/#{@image.image_name}" %>">
        </div>
        <div class="post-right">
          <div class="post-user-name">
            <% @user = User.select("name").find_by(id: post.user_id) %>
            <%= link_to @user.name, user_path(post.user_id) %>
          </div>
          <div class="date">
            <%= l(post.created_at, format: :short) %>
          </div>
          <%= link_to post.content, post_path(post), :class=> "post_content" %>
          <div>
            <% post.images.each do |post_photo| %>
            <div class="post_photo" style="background:url('<%= post_photo %>') center / contain; background-repeat:no-repeat;"></div>
            <% end %>
          </div>
          <div class="fav">
            <% if @fav_post = FavsPost.find_by(post_id: post.id, user_id: current_user.id) %>
            <%= link_to(post_favs_post_path(post.id, @fav_post.id), :method => :delete) do %>
            <i class="far fa-heart unlike-btn">
              <% @favs_count = FavsPost.where(post_id: post.id).count %>
              <% if @favs_count != 0 %><%= @favs_count %><% end %>
            </i>
            <% end %>
            <% else %>
            <%= link_to(post_favs_posts_path(post.id), :method => :post) do %>
            <i class="far fa-heart like-btn">
              <% @favs_count = FavsPost.where(post_id: post.id).count %>
              <% if @favs_count != 0 %><%= @favs_count %><% end %>
            </i>
            <% end %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>

  </div>
</div>
