<div class="background-box">

  <div class="header">
    <span class="title">User Information</span>
    <%= link_to "back", admins_users_path, :class=>"back"%>
    <%= link_to posts_path, :class=>"back_to_posts" do %>
      <i class="fas fa-home"></i> <span class="home_button">Home</span>
    <% end %>
    <%= link_to user_path(current_user) do %>
      <img class="me" src="<%= "/user_images/#{current_user.image_name}" %>">
    <% end %>
  </div>

  <div class="user">
    <div class="user_inner">
      <img src="<%= "/user_images/#{@user.image_name}" %>">
      <div class="user_name"><%= @user.name %></div>
      <div class="user_info">id:&nbsp;<%= @user.id %></div>
      <div class="user_info">email:&nbsp;<%= @user.email %></div>
    </div>
  </div>

  <% @posts.each do |post| %>
    <div class="posts-index-item">
      <div class="post-left">
        <%= link_to user_path(post.user_id) do %>
          <img src="<%= "/user_images/#{post.user.image_name}" %>">
        <% end %>
      </div>
      <div class="post-right">
        <div class="post-user-name">
          <%= link_to post.user.name, user_path(post.user_id) %>
        </div>
        <div class="date">
          <%= l(post.created_at, format: :short) %>
        </div>
        <%= link_to post.content, post_path(post), :class=> "post_content" %>
        <br>
        <% post.post_photos.each do |photo| %>
          <div class="post_photo" style="background:url('<%= photo.image %>') center / contain; background-repeat:no-repeat;"></div>
        <% end %>
      </div>
    </div>
  <% end %>


</div>
