<div class="background-box">
  <div class="header">
    <span class="title">Home</span>
    <%= link_to "Logout", destroy_user_session_path, method: :delete, :class=> "logout" %>
    <%= link_to user_path(current_user) do %>
      <img class="my_image" src="<%= "/user_images/#{@user.image_name}" %>">
    <% end %>
    <%= link_to "Post", new_post_path, :class=> "new_post",data: {"turbolinks"=>false} %>
  </div>

  <ul class="posts-tabs">
      <li><%= link_to("All", posts_path) %></li>
      <li class="active"><%= link_to("Following", follows_posts_path) %></li>
  </ul>

  <% @posts_follows.each do |post_follows| %>
    <div class="posts-index-item">
      <div class="post-left">
        <% @image = User.select("image_name").find_by(id: post_follows.user_id) %>
        <%= link_to user_path(post_follows.user_id) do %>
          <img src="<%= "/user_images/#{@image.image_name}" %>">
        <% end %>
      </div>
      <div class="post-right">
        <div class="post-user-name">
          <% @user = User.select("name").find_by(id: post_follows.user_id) %>
          <%= link_to @user.name, user_path(post_follows.user_id) %>
        </div>
        <div class="date">
          <%= l(post_follows.created_at, format: :short) %>
        </div>
        <%= link_to post_follows.content, post_path(post_follows), :class=> "post_content" %>
        <br>
        <% @photos = PostPhoto.where(post_id: post_follows.id) %>
        <% @photos.each do |photo| %>
          <div class="post_photo" style="background:url('<%= photo.image %>') center / contain; background-repeat:no-repeat;"></div>
        <% end %>
        <div class="fav">
          <% if @fav_post = FavsPost.find_by(post_id: post_follows.id, user_id: current_user.id) %>
          <%= link_to(post_favs_post_path(post_follows.id, @fav_post.id), :method => :delete) do %>
            <i class="far fa-heart unlike-btn">
              <% @favs_count = FavsPost.where(post_id: post_follows.id).count %>
              <% if @favs_count != 0 %><%= @favs_count %><% end %>
            </i>
            <% end %>
          <% else %>
            <%= link_to(post_favs_posts_path(post_follows.id), :method => :post) do %>
            <i class="far fa-heart like-btn">
              <% @favs_count = FavsPost.where(post_id: post_follows.id).count %>
              <% if @favs_count != 0 %><%= @favs_count %><% end %>
            </i>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
    <% end %>
</div>
