<div class="background-box">

  <div class="header">
    <span class="title">Home</span>
    <%= link_to "Logout", destroy_user_session_path, method: :delete, :class=> "logout" %>
    <%= link_to user_path(current_user) do %>
      <img class="my_image" src="<%= "/user_images/#{@user.image_name}" %>">
    <% end %>
    <%= link_to "Post", new_post_path, :class=> "new_post",data: {"turbolinks"=>false} %>
  </div>

  <ul class="posts-tabs">
      <li class="active"><%= link_to("All", "/posts") %></li>
      <li><%= link_to("Following", "/posts/follows") %></li>
  </ul>

  <% @posts_all.each do |post_all| %>
    <div class="posts-index-item">
      <div class="post-left">
        <% @image = User.select("image_name").find_by(id: post_all.user_id) %>
        <%= link_to user_path(post_all.user_id) do %>
          <img src="<%= "/user_images/#{@image.image_name}" %>">
        <% end %>
      </div>
      <div class="post-right">
        <div class="post-user-name">
          <% @user = User.select("name").find_by(id: post_all.user_id) %>
          <%= link_to @user.name, user_path(post_all.user_id) %>
        </div>
        <div class="date">
          <%= l(post_all.created_at, format: :short) %>
        </div>
        <%= link_to post_all.content, post_path(post_all), :class=> "post_content" %>
        <div>
          <% post_all.images.each do |post_photo| %>
          <div class="post_photo" style="background:url('<%= post_photo %>') center / contain; background-repeat:no-repeat;"></div>
          <% end %>
        </div>
        <div class="fav">
          <% if @fav_post = FavsPost.find_by(post_id: post_all.id, user_id: current_user.id) %>
          <%= link_to(post_favs_post_path(post_all.id, @fav_post.id), :method => :delete) do %>

          <i class="far fa-heart unlike-btn">
            <% @favs_count = FavsPost.where(post_id: post_all.id).count %>
            <% if @favs_count != 0 %><%= @favs_count %><% end %>
          </i>
          <% end %>
          <% else %>
          <%= link_to(post_favs_posts_path(post_all.id), :method => :post) do %>
          <i class="far fa-heart like-btn">
            <% @favs_count = FavsPost.where(post_id: post_all.id).count %>
            <% if @favs_count != 0 %><%= @favs_count %><% end %>
          </i>
          <% end %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>
