<div class="background-box">

  <div class="header">
    <span class="title">Home</span>
    <%= link_to "Logout", destroy_user_session_path, method: :delete, :class=> "logout" %>
    <%= link_to user_path(current_user) do %>
      <img class="my_image" src="<%= "/user_images/#{@user.image_name}" %>">
    <% end %>
    <%= link_to "Post", new_post_path, :class=> "new_post",data: {"turbolinks"=>false} %>
  </div>

  <ul class="posts-tabs">
      <li class="active"><%= link_to("All", "/posts") %></li>
      <li><%= link_to("Following", "/posts/follows") %></li>
  </ul>

  <% @posts_all.includes(:user).includes(:favs_posts).each do |post_all| %>
    <div class="posts-index-item">
      <div class="post-left">
        <img src="<%= "/user_images/#{post_all.user.image_name}" %>">
      </div>
      <div class="post-right">
        <div class="post-user-name">
          <%= link_to post_all.user.name, user_path(post_all.user_id) %>
        </div>
        <div class="date">
          <%= l(post_all.created_at, format: :short) %>
        </div>
        <%= link_to post_all.content, post_path(post_all), :class=> "post_content" %>
        <div>
          <% post_all.images.each do |post_photo| %>
            <div class="post_photo" style="background:url('<%= post_photo %>') center / contain; background-repeat:no-repeat;"></div>
          <% end %>
        </div>
        <div class="fav">
          <% if (@favs_count = post_all.favs_posts.size) != 0 %>
            <% @faved_by_current_user = false %>
            <% post_all.favs_posts.each do |favs_post| %>
              <% if favs_post.user_id == current_user.id %>
                <%= link_to(post_favs_post_path(post_all.id, favs_post.id), :method => :delete) do %>
                <i class="far fa-heart unlike-btn"><%= @favs_count %></i>
                <% end %>
                <% @faved_by_current_user = true %>
                <% break %>
              <% end %>
            <% end %>
            <% if @faved_by_current_user == false %>
              <%= link_to(post_favs_posts_path(post_all.id), :method => :post) do %>
              <i class="far fa-heart like-btn"><%= @favs_count %></i>
              <% end %>
            <% end %>
          <% else %>
            <%= link_to(post_favs_posts_path(post_all.id), :method => :post) do %>
            <i class="far fa-heart like-btn"></i>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>
