<div class="background-box">
  <div class="new_post">
  <div class="header">
    <span class="title">Create Post</span>
    <%= link_to "Logout", destroy_user_session_path, method: :delete, :class=> "logout" %>
    <%= link_to posts_path, :class=>"back_to_posts" do %>
      <i class="fas fa-home"></i> <span class="home_button">Home</span>
    <% end %>
  </div>

  <div class="new_post_field">
    <%= form_for @post do |f| %>
      <% if @post.errors.messages[:content].any? %>
        <span class="error"><%= @post.errors.messages[:content][0] %></span>
      <% end %>
      <%= f.text_area :content, class: "new_post_form", placeholder: "What's happning?" %>
      <%= f.fields_for :post_photos do |ph| %>
        <%= ph.file_field :image, class: "new_post_photos", multiple: true %>
      <% end %>
      <br><p style="font-size:7px; margin:0;">(max:3files)</p>

      <input type="button" value="Post" href="#" class="select_scope_style">

      <div class="select_scope_back"></div>
      <div class="select_scope">

        <span class="select_scope_back_button"><i class="fas fa-times"></i></span>
        <p style="font-size:1.8em; margin:0 0 10px;">Post for</p>
        <div class="cp_ipradio">
          <label><%= f.radio_button :scope_of_disclosure, "self" %>Yourself</label>
          <label><%= f.radio_button :scope_of_disclosure, "followers" %>Followers</label>
          <label><%= f.radio_button :scope_of_disclosure, "everyone" %>Everyone</label>
        </div>
        <%= f.submit "Post",:class=>"new_post_submit"%>
      </div>

      <div style="width:100%; height:40px;"></div>
    <% end %>
  </div>
</div>
</div>
