<div class="background-box">
  <div class="show_post">
    <div class="header">
      <span class="title">Post</span>
      <%= link_to "Logout", destroy_user_session_path, method: :delete, :class=> "logout" %>
      <% if current_user.level == 1 %>
        <%= link_to posts_path, :class=>"back_to_posts" do %>
          <i class="fas fa-home"></i> <span class="home_button">Home</span>
        <% end %>
      <% else %>
        <%= link_to "admin", admins_users_path, :class=> "link_to_admin" %>
        <%= link_to posts_path, :class=>"back_to_posts_admin" do %>
          <i class="fas fa-home"></i> <span class="home_button">Home</span>
        <% end %>
      <% end %>
    </div>

    <div class="posts-index-item">
      <div class="post-left">
        <%= link_to user_path(@post.user_id) do %>
          <img src="<%= "/user_images/#{@image.image_name}" %>">
        <% end %>
      </div>
      <div class="post-right">
        <div class="post-user-name">
          <%= link_to @user.name, user_path(@post.user_id) %>
        </div>
        <div class="date">
          <%= l(@post.created_at, format: :short) %>
        </div>
        <%= @post.content %>
        <br>
        <% @photos.each do |photo| %>
          <div class="post_photo" style="background:url('<%= photo.image %>') center / contain; background-repeat:no-repeat;"></div>
        <% end %>

        <div class="fav">
          <% if @fav_post %>
            <%= link_to(post_favs_post_path(@post.id, @fav_post.id), :method => :delete) do %>
            <i class="far fa-heart unlike-btn">
              <% if @favs_count != 0 %><%= @favs_count %><% end %>
            </i>
            <% end %>
          <% else %>
            <%= link_to(post_favs_posts_path(@post.id), :method => :post) do %>
              <i class="far fa-heart like-btn">
                <% if @favs_count != 0 %><%= @favs_count %><% end %>
              </i>
            <% end %>
          <% end %>
        </div>
      </div>
      <div class="reply_link">
        <%= link_to "reply",  new_post_comment_path(@post) %>
      </div>
    </div>

    <div class="comments">
      <% @comments.each do |comment| %>
      <div class="posts-index-item">
        <div class="post-left">
          <%= link_to user_path(comment.user_id) do %>
            <img src="<%= "/user_images/#{comment.user.image_name}" %>">
          <% end %>
        </div>
        <div class="post-right">
          <div class="post-user-name">
            <%= link_to comment.user.name, user_path(comment.user_id) %>
          </div>
          <div class="date">
            <%= l(comment.created_at, format: :short) %>
          </div>
          <div class="reply_to">
            reply to <%= @user.name %>
          </div>
          <%= comment.content %>
          <div class="fav">
            <% if (comment.favs_comments.size) != 0 %>
              <% @faved_by_current_user = false %>
              <% comment.favs_comments.each do |favs_comment| %>
                <% if favs_comment.user_id == current_user.id %>
                  <%= link_to(post_comment_favs_comment_path(@post.id, comment.id, favs_comment.id), :method => :delete) do %>
                  <i class="far fa-heart unlike-btn"><%= comment.favs_comments.size %></i>
                  <% end %>
                  <% @faved_by_current_user = true %>
                  <% break %>
                <% end %>
              <% end %>
              <% if @faved_by_current_user == false %>
                <%= link_to(post_comment_favs_comments_path(@post.id, comment.id), :method => :post) do %>
                <i class="far fa-heart like-btn"><%= comment.favs_comments.size %></i>
                <% end %>
              <% end %>
            <% else %>
              <%= link_to(post_comment_favs_comments_path(@post.id, comment.id), :method => :post) do %>
              <i class="far fa-heart like-btn"></i>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
